//https://coolors.co/00e8fc-21295c-f96e46
.championProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 25vw;
    margin: .5rem 2rem;
    padding: .4rem .4rem;
    background-color: #F96E46;
    border-radius: .5rem;
    box-shadow: 0 5px 10px rgba( #000, .8 );
    color: #111;

    transform-origin: center top;
    transition: .3s;

    &:hover, &:focus, &:active{
        box-shadow: 0 8px 16px 3px rgba( #000, .6 );
        transform: translateY( -3px ) scale( 1.05 );
    }

    @media (max-width: 1450px) {
        width: 40vw;
    }

    @media (max-width: 900px) {
        width: 80vw;
    }

    &__icon{
        border-radius: .5rem;
        width: auto;
    }
    &__summary{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-title{
            font-size: .8rem;
            @media (max-width: 900px) {
                display: none;
            }
        }
        h2{
            margin: .5rem auto;
        }
        &-tags{
            margin: .5rem auto;
        }
        &__buttons{
            margin-top: .5rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            &-moreinfo, &-select{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid #00E8FC;
                background-color: #00E8FC;
                color: #111;
                font-weight: bold;
                font-size: 1.2rem;
                padding: .1rem 1.5rem;
                border-radius: .5rem;
                cursor: pointer;
                @media (max-width: 900px) {
                    font-size: 1rem;
                    padding: .1rem .5rem;
                }
                &:hover, &:focus, &:active{
                    transform: translateY( -2px ) scale( 1.05 );
                }
            }
        }
    }
}