.championSearch{

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem auto;

    &__input{

        padding: 1rem;
        background-color: transparent;
        border: 1px solid #00E8FC;
        border-radius: .5rem;
        color: #00E8FC;
        font-size: 2rem;
        text-align: center;

        cursor: text;

        @media (max-width: 900px) {
            font-size: 1.4rem;
            padding: .4rem .6rem;
        }

        &:focus{
            outline: none;
        }
    }
    ::placeholder{
        color: #00E8FC;
    }
}

input:focus::placeholder{
    color: transparent;
}